body {
	background-color: #ffeb99;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #003366;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
}

#mainHeading{
  float: left;
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 25px;
}
.navbar a{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 0;
  background-color: #990000;
  overflow-x: hidden;
  padding-top: 20px;
}

.menu_items{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  display: block;
}

.menu_items:hover {
  color:  #660000;
}


.main {
  padding: 16px;
  margin-top: 75px;
  margin-left: 300px;
}


.pageHeading{
  color: #990000;
  font-size: 3em;
  text-decoration: underline;
  padding:16px;
}

.pageContent{
  margin-left: 0.5em;
  font-size: 1.5em;
  border: 2px solid #990000;
  width: 90%;
  padding: 20px;
}

.functionalBtn{
    text-decoration: none;
    color: black;
    font-size: 24px;
    background-color:  #ffeb99;
    padding: 10px;
    margin: 10px;
    width: 150px;
    border: 2px solid #990000;
    cursor: pointer;
  }

.pageLinks{
    text-decoration: none;
    color: black;
    font-size: 28px;
    background-color:  #ffeb99;
    padding: 20px;
    margin: 10px;
    min-width: 450px;
}
.functionalBtn:hover, .pageLinks:hover {
    background-color: #990000;
    color: white;
  }

  input[type="text"],input[type="Number"],input[type="password"],input[type="email"],input[type="tel"]{
    width:450px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
  }

  .selectBox{
    font-size: x-large;
    width: 300px;
    
  }
  
  .formTable{
      border: 2px dashed #990000;
      padding: 20px;
      font-size: 2em;
      margin-top: 2%;
      margin-left: 10%;
      min-width: 60%;

  }
  td{
      padding: 10px;
      margin: 10px;
  }
  
  textarea{
      width: 100%;
      height: 400px;
      border: 2px solid #990000;
      padding: 5px;
      font-size: 20px;
  }



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:#ffeb99;
  opacity: 0.9;
  padding-top: 50px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 80px;
  font-weight: bold;
  color:black;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.container {
  padding: 16px;
  border: 2px double #990000;
  text-align: center;
  background-color: white;
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
}