body {
	background-color: #ffeb99;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #003366;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
}

#mainHeading{
  float: left;
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 25px;
}
.navbar a{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top:75px;
  left: 0;
  background-color: #990000;
  overflow-x: hidden;
  padding-top: 20px;
}



.collapsible {
  background-color: #990000;
  color: white;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
}


.active, .collapsible:hover {
  background-color: #660000;
}


.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #990000;
}

.pages{
  padding: 2px 8px 6px 10px;
  cursor: pointer;
  font-size: 24px;
  color: #818181;
  display: block;
}

.pages:hover, .subject:hover {  
  color: white;
}


.pages:hover, .subject:hover {  
  color: white;
}
.main {
  padding: 16px;
  margin-top: 75px;
  margin-left: 300px;
}

.pageHeading{
  color: #990000;
  font-size: 5em;
  text-decoration: underline;
  padding:16px;
}

.pageContent{
  margin-left: 0.5em;
  font-size: 2em;
  white-space: pre-wrap;
  border: 2px solid #990000;
  width: 80%;
  padding: 20px;
}

.loginTitle{
  color: #990000;
  font-size: 3em;
  text-decoration: underline;
  padding:16px;  
}

.loginForm{
  padding-left: 0.5em;
  margin: 20px;
  font-size: 2em;
  width: 500px;
}

input{
  width: 250px;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.loginBtn{
  font-size: 24px;
  background-color:  #ffeb99;
  padding: 10px;
  margin: 20px;
  width: 150px;
  border: 2px solid black;
}

.loginBtn:hover {
  background-color: #990000;
  color: white;
}